.checkoutproduct_image{
    width:150px;
    height:150px;
    object-fit: contain;
}
.checkoutproduct_button{
    background:#f0c14b;
    border-radius:2px;
    width:100%;
    height:30px;
    border:1px solid;
    margin-top:10px;
    color:#111; 
}
.checkoutproduct_price{

}
.checkoutproduct_title{
     font-size:17px;
     font-weight: 800;
}
.checkoutproduct_info{
   margin-left: 20px;

}
.checkoutproduct{
   display: flex;
   margin-top:20px;
   margin-bottom:20px;
}

